body, html {
	width: 100%;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
}

#mappart {
	position: absolute;
	top: 70px;
	left: 500px;
	bottom: 0;
	right: 350px;
}

#map_canvas {
	height: 154px;
	width: 272px;
}

/*#rightside {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 300px;
	font-size: 12px;
}*/

h1 {
	font-size: 16px;
	text-align: center;
	border-bottom: 1px #ccc solid;
	margin: 0 0 10px 0;
}

h2 {
	font-size: 12px;
	margin: 10px 0 5px 0;
}

h2:hover {
	cursor: pointer;
	color: #FC5;
}

#rightside .pre {
	font-family: 'Courier New', monospace;
	color: #666;
	font-weight: bold;
}

textarea {
	display: block;
	background: #fff;
	padding: 3px;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	border: 1px #aaa solid;
	font-size: 11px;
	width: 95%;
	margin: 3px auto;
	height: 100px;
	background: #
}


button {
	background: #222;
	font-size: 12px;
	padding: 6px 20px;
	border: 1px #222 solid;
	border-radius: 5px;	
	color: #eee;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	color: #ccf;
	background: #000;
}

.center {
	text-align: center;
}

#b_coords, #b_circle, #b_lines, #b_lines2 {
	display: none;
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 8px #ccc;
	border-radius: 5px;
	
}
